<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}" />
    <title>cyberbase login</title>
</head>

<body>
    <form method="post" enctype=multipart/form-data>
        <div class="login">
            <input spellcheck="false" class="file" type="file" accept="image/png" name="image" required/>
            <div class="buttons">
                <input class="button" type="submit" value="ajouter" />
            </div>
        </div>
    </form>
    {% if message %}
        <h2 style="color: green;">{{ message }}</h2>
    {% endif %}
    <div class="image_selector">
        {% for fond in images %}
            <div style="position: relative; display: inline-block;">
                {% if selected == fond.id %}
                    <img onclick="window.location.href = '/bg/{{ fond.id }}';" class="img_item img_selected" src="{{ fond.image }}" />
                {% else %}
                    <img onclick="window.location.href = '/bg/{{ fond.id }}';" class="img_item" src="{{ fond.image }}" />
                {% endif %}
                <button onclick="window.location.href = '/bg/{{ fond.id }}/remove';" style="position: absolute; bottom: 12px; right: 5px;">Supprimer</button>
            </div>
        {% endfor %}
    </div>
</body>

</html>